python36 python36-devel

django
djangorestframework
markdown
django-filter
requests
lxml
newspaper3k
mysqlclient
nltk
googletrans
google_images_download
influxdb
apscheduler

mariadb
mariadb-server
mariadb-devel
git
mod_wsgi
influxdb
chronograf
jenkins
java